<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Nemo" />
        <meta
            name="description"
            content="A page about Media Queries an some exercises to practice"
        />
        <title>Ejercicios</title>
        <link rel="stylesheet" href="../css/normalize.css" />
        <link rel="stylesheet" href="../css/exercises.css" />
    </head>
    <body>
        <header class="header">
            <h1 class="header__title">Media Queries</h1>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="ul__li">
                        <a href="index.html">Media Queries</a>
                    </li>
                    <li class="ul__li"><a href="#">Picture</a></li>
                    <li class="ul__li"><a href="#">Portfolio</a></li>
                    <li class="ul__li"><a href="#">Picture</a></li>
                    <li class="ul__li"><a href="#">Picture</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <article class="main__article">
                <h2 class="article__title">Picture</h2>
                <p class="article__p">Media Query in html tag Picture</p>
            </article>
            <article class="main__article">
                <h2 class="article__title"></h2>
                <p class="article__p"></p>
            </article>
            <article class="main__article">
                <h2 class="article__title">Portfolio</h2>
                <p class="article__p"></p>
            </article>
            <article class="main__article">
                <h2 class="article__title"></h2>
                <p class="article__p"></p>
            </article>
            <article class="main__article">
                <h2 class="article__title"></h2>
                <p class="article__p"></p>
            </article>
            <footer class="footer">
                <p class="footer__copyright"></p>
            </footer>
        </main>
    </body>
</html>
