<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Nemo" />
        <meta
            name="description"
            content="A page about Media Queries an some exercises to practice"
        />
        <title>MediaQ</title>
        <link rel="stylesheet" href="../css/normalize.css" />
        <link rel="stylesheet" href="../css/index.css" />
    </head>

    <body>
        <header class="header">
            <h1 class="header__title">Media Queries</h1>
            <nav class="header__nav">
                <ul class="header__ul">
                    <li class="header__li">
                        <a class="header__a" href="#responsive"
                            >Responsive Design</a
                        >
                    </li>
                    <li class="header__li">
                        <a class="header__a" href="#breakpoints">Breakpoints</a>
                    </li>
                    <li class="header__li">
                        <a class="header__a" href="#media">Media Queries</a>
                    </li>
                    <li class="header__li">
                        <a class="header__a" href="exercises.html"
                            >Ejercicios</a
                        >
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <article id="responsive" class="article article--bgclight">
                <h2 class="article__h2">Responsive Design</h2>
                <p class="article__p">
                    Es los que hace que una pagina web se vea correctamente
                    independientemente del dispositivo desde el que se
                    visualiza.
                </p>
            </article>
            <article id="breakpoints" class="article article--bgcdark">
                <h2 class="article__h2">Breakpoints</h2>
                <p class="article__p">
                    Es un momento donde la pagina web cambia. Deben servir como
                    referencia para crear nuevos breakpoints según lo necesite.
                </p>
                <section class="article__section">
                    <h3 class="section__h3">Resolución</h3>
                    <p class="section__p">
                        Se tiene en cuenta el ancho de
                        <strong>pixeles</strong> del dispositivo.
                    </p>
                    <div class="section__div">
                        <article class="section__article">
                            <h4 class="article__h4--section">Básicos</h4>
                            <p class="article__p--section">
                                Son los pixeles de los principales dispositivos
                                mas genéricos, por ejemplo: Celular, Tablet,
                                Laptop(computadora).
                            </p>
                            <img
                                src="../assets/img/bp-resolucion-basicos.webp"
                                alt=""
                                class="article__img--section"
                            />
                        </article>

                        <article class="section__article">
                            <h4 class="article__h4--section">Completos</h4>
                            <p class="article__p--section">
                                Se amplia rango de dispositivos a utilizar, como
                                versiones mas pequeñas o grandes de un
                                determinado dispositivo.
                            </p>
                            <img
                                src="../assets/img/bp-resolucion-completo.webp"
                                alt=""
                                class="article__img--section"
                            />
                        </article>

                        <article class="section__article">
                            <h4 class="article__h4--section">Personalizado</h4>
                            <p class="article__p--section">
                                Es cuando el diseño | maquetación de una pagina
                                web se rompe en un pixel concreto.
                            </p>
                            <img src="" alt="" class="article__img--section" />
                        </article>
                    </div>
                </section>
                <section class="article__section">
                    <h3 class="section__h3">Dispositivo</h3>
                    <p class="section__p">
                        Se tiene en cuenta el
                        <strong>comportamiento</strong> del propio dispositivo.
                    </p>
                    <ul class="section__ul">
                        <li class="section__li">Orientación</li>
                        <li class="section__li">Modo Oscuro</li>
                        <li class="section__li">
                            Pantalla de impresión (No se usa)
                        </li>
                    </ul>
                </section>
            </article>
            <article id="media" class="article article--bgclight">
                <h2 class="article__h2">Media Queries</h2>
                <p class="article__p">
                    Declaración de
                    <abbr title="Cascading Style Sheets">CSS</abbr> que define
                    mediante breakpoints en qué pixeles se cambiara las
                    propiedades de un elemento.
                </p>
                <h3 class="article__h3">Sintaxis:</h3>
                <ul class="article__ul">
                    <li class="article__li">
                        <strong>Keyword:</strong> @media
                    </li>
                    <li class="article__li">
                        <strong>Media Type:</strong> screen
                    </li>
                    <li class="article__li">
                        <strong>Operador:</strong> and|or|not
                    </li>
                    <li class="article__li">
                        <strong>Breakpoint | Media Feature:</strong>
                        (property : value)
                    </li>
                </ul>
                <section class="article__section">
                    <h3 class="section__h3">Ejemplos</h3>
                    <div class="section__example">
                        <div class="example__card card">
                            <p class="card__p">
                                @media screen and|or|not (max-width:480px) {
                                <br />
                                <br />}
                            </p>
                        </div>
                        <div class="example__card card">
                            <p class="card__p">
                                @media (min-width:480px) and (max-width:768px) {
                                <br />
                                <br />}
                            </p>
                        </div>
                        <div class="example__card card">
                            <p class="card__p">
                                @media (orientation:landscape) and
                                (max-width:480px) {
                                <br />
                                <br />}
                            </p>
                        </div>
                        <div class="example__card card">
                            <p class="card__p">
                                @media (prefers-color-scheme:dark) {
                                <br />
                                <br />}
                            </p>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <footer class="footer">
            <p class="footer__copyright">Copyright &copy; MediaQ.</p>
        </footer>
    </body>
</html>
