<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Nemo" />
    <meta
      name="description"
      content="A page about Media Queries an some exercises to practice"
    />
    <title>MediaQ</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <h1>Media Queries</h1>
      <nav>
        <ul>
          <li><a href="#about">¿Que es?</a></li>
          <li><a href="#breakpoints">Breakpoints</a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="about"></section>
      <section id="breakpoints"></section>
    </main>
    <footer>
      <p>Copyright &copy; MediaQ.</p>
    </footer>
  </body>
</html>
